### Use Lucidchart to create an Entity Relationship Diagram (ERD) for the following tables representing a customer order tracking system:

Tables and fields:
1. product: 
    - product_id: INTEGER (Primary key)
    - name: TEXT not null
    - price: REAL


2. customer:
    - customer_id: INTEGER (Primary key)
    - name: TEXT not null
    - email: TEXT not null


3. purchase_order:
    - order_id: INTEGER (Primary key)
    - customer_id: INTEGER (Foreign key)
    - date: TEXT not null ("YYYY-MM-DD")


4. order_item:
    - order_id: INTEGER (Foreign key)
    - product_id: INTEGER (Foreign key)
    - quantity: INTEGER
    


Export the ERD as PDF and submit to Canvas - Hands-on 12 assignment.

### Create SQLite tables and load data
1. From Canvas, download the csv files for the data for the four tables (product, customer, order_item, purchase_order). 
2. In this notebook, create the database and save it in a file called `store.db`, and create the four tables as described above.
3. Load the data in the csv files into the corresponding table.
4. Commit so that the data loaded to the tables to officially written to the tables.
5. Execute a query SELECT * from each table to make sure the data are properly loaded.
6. Execute a query using SELECT statement that queries with JOIN tables to find the purchase date, the products and quantities that a particular customer has purchased.

In [4]:
# 2. Create the database and save it in a file called store.db, and create the four tables as described above.
# Your code here . . .
import sqlite3
from pathlib import Path

conn = sqlite3.connect('store.db')
c = conn.cursor()

SQL_CreateTable = '''CREATE TABLE product (
  product_id INTEGER,
  name TEXT NOT NULL,
  price REAL,
  PRIMARY KEY (product_id))'''
c.execute(SQL_CreateTable)

SQL_CreateTable = '''CREATE TABLE customer (
  customer_id INTEGER,
  name TEXT NOT NULL,
  email TEXT NOT NULL,
  PRIMARY KEY (customer_id))'''
c.execute(SQL_CreateTable)

SQL_CreateTable = '''CREATE TABLE purchase_order (
  order_id INTEGER,
  customer_id INTEGER,
  date TEXT NOT NULL,
  PRIMARY KEY (order_id),
  FOREIGN KEY (customer_id)
      REFERENCES customer (customer_id)
          ON DELETE CASCADE
          ON UPDATE NO ACTION)'''  
c.execute(SQL_CreateTable)

SQL_CreateTable = '''CREATE TABLE order_item (
  order_id INTEGER,
  product_id INTEGER,
  quantity INTEGER,
  FOREIGN KEY (order_id)
      REFERENCES purchase_order (order_id)
          ON DELETE CASCADE
          ON UPDATE NO ACTION,
  FOREIGN KEY (product_id)
      REFERENCES product (product_id)
          ON DELETE CASCADE
          ON UPDATE NO ACTION)'''
c.execute(SQL_CreateTable)

In [6]:
# 3. Load the data in the csv files into the corresponding table.
# Your code here . . .
import pandas as pd

product = pd.read_csv('product.csv')
product
product.to_sql('product', conn, if_exists='append', index=False)

customer = pd.read_csv('customer.csv')
customer
customer.to_sql('customer', conn, if_exists='append', index=False)

purchase_order = pd.read_csv('purchase_order.csv')
purchase_order
purchase_order.to_sql('purchase_order', conn, if_exists='append', index=False)

order_item = pd.read_csv('order_item.csv')
order_item
order_item.to_sql('order_item', conn, if_exists='append', index=False)

In [7]:
# 4. Commit so that the data loaded to the tables to officially written to the tables.
# Your code here . . .
conn.commit()

In [8]:
# 5. Execute a query SELECT * from each table to make sure the data are properly loaded.
# Your code here . . .
c.execute("SELECT * FROM product")
results = c.fetchall() 
print(results)

c.execute("SELECT * FROM customer")
results = c.fetchall() 
print(results)

c.execute("SELECT * FROM purchase_order")
results = c.fetchall() 
print(results)

c.execute("SELECT * FROM order_item")
results = c.fetchall() 
print(results)

[(0, 'bicycle', 400.0), (1, 'helmet', 45.0), (2, 'gloves', 23.0), (3, 'chain', 48.0)]
[(0, 'Wendy Lee', 'wlee@bike.com'), (1, 'Jason Brown', 'jb@speed.com'), (2, 'Harry Potter', 'hp@hogwarts.edu'), (3, 'Godric Gryffindor', 'gg@hogwards.edu')]
[(0, 0, '2020-10-19'), (1, 0, '2020-10-20'), (2, 1, '2020-10-20')]
[(0, 0, 1), (0, 1, 1), (1, 2, 2), (1, 3, 1)]

In [11]:
# 6. Execute a query using SELECT statement that queries with JOIN tables to find the purchase date, 
#    the products and quantities that a particular customer has purchased.
# Your code here . . .
SQL_JointQuery = """SELECT purchase_order.order_id, purchase_order.date, 
                order_item.quantity FROM purchase_order as P
                JOIN purchase_order using (order_id)
                JOIN order_item using (order_id)
                WHERE order_item.order_id='1' 
                """
c.execute(SQL_JointQuery)
joint_results = c.fetchall() 
print(joint_results)

[(1, '2020-10-20', 2), (1, '2020-10-20', 1)]